.tag {
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0;
    color: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    vertical-align: middle;
    cursor: pointer;
}

.tag p {
    margin: 0;
    padding: 0;
    font-weight: 800;
}