/* 
.contenedorFormulario::-webkit-scrollbar-thumb {
    display: flex;
    flex-direction: column;
    background: var(--azul);
    height: 10px;
    border-radius: 10px;
} */

.formulario {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    /* height: 867px; */
    color: var(--blanco);
    font-weight: 600;
    font-size: 2rem;
    /* gap: 60px; */
    max-width: 1024px;
}
/* 
.formulario::-webkit-scrollbar-thumb {
    background: var(--azul);
    height: 10px;
    border-radius: 10px;
} */

.contenido {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    gap: 60px;
    margin: 0 0 60px 0;
}

.divider {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.contenedorCampo {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 15px;
    flex: 1 1 472px;
    max-width: 472px;
    min-width: 320px;
}

.monocomponente {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    min-width: 320px;
    /* min-height: 170px; */
    height: auto;
    text-align: left;
    justify-content:start;
    align-items: flex-start;
    box-sizing: border-box;
}

.formulario input {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: var(--negro);
    color: var(--blanco);
    width: 100%;
    font-size: 1.25rem;
    font-weight: normal;
}

.formulario textarea {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: var(--negro);
    color: var(--blanco);
    width: 100%;
    font-size: 1.25rem;
}

.formulario button {
    padding: 10px;
    border-radius: 10px;
    background: var(--negro);
    border: 1px solid #ccc;
    width: 180px;
    height: 54px;
    font-size: 1.125rem;
}

.formulario button:hover {
    cursor: pointer;
    background-color: var(--azul);
}

@media screen and (max-width: 1028px) {
    .contenido {
        gap: 20px;
        margin: 0 0 40px 0;
    }

    .formulario {
        font-size: 1rem;
    }

    .formulario input,
    .formulario textarea  {
        font-size: 0.875rem;
    }

    .formulario button {
        font-size: 0.875rem;
    }

    .contenedorCampo,
    .monocomponente {
        /* min-height: 100px; */
        gap: 5px;
    }
}

@media screen and (max-width: 480px) {
    .contenido {
        margin: 0 0 28px 0;
    }

    .contenedorCampo {
        max-width: 320px;
    }

    .formulario button {
        gap: 15px;
        width: 140px;
    }
}
