.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    color: var(--blanco);
}

.formulario input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: var(--blanco);
}