.inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 45px;
    max-width: 2440px;

}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    color: var(--blanco);
    font-size: x-large;
}
/* .container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 2440px;
} */

@media screen and (max-width: 768px) {
    .inicio {
        padding: 21px;
    }
}