.inicio {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 45px;
}

.container {
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 2440px;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .inicio {
        padding: 21px;
    }
}