.miniatura {
    border-radius: 15px;
    overflow: hidden;
    box-sizing: border-box;
    max-width: 750px;
    min-width: 430px;
}

.miniatura__container {
    position: relative;
    width: 100%;
    cursor: pointer;
}

.miniatura__container__botonera__oculta::after {
    border-radius: 15px;
}

.miniatura__container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.overlay {
    content: '';
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: none;
    border-radius: 15px 15px 0 0;
    border: 5px solid var(--shadow-color);
    box-shadow: inset 0px 0px 21px 5px var(--shadow-color);
    transition: box-shadow 0.1s ease-in-out;
}

.miniatura:hover .overlay {
    border-color: var(--shadow-color);
    box-shadow: inset 0px 0px 28px 10px var(--shadow-color);
}

.iconoAccion {
    opacity: 0.5;
    transition: opacity 0.1s ease-in-out;
}

.miniatura:hover .iconoAccion {
    opacity: 1; 
}

.botonera {
    height: 59px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 0 0 15px 15px;
}

.miniatura:hover .botonera {
    box-shadow: inset 0px 0px 7px 3.5px var(--shadow-color);
}

.boton {
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--blanco);
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.borrando {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    color: var(--blanco);
    font-size: x-large;
}