.nuevo_video {
    margin: 2em 2em;
    width: 100%;
    max-width: 1028px;
}

.titulo {
    font-size: 1.175rem;
    text-align: center;
    font-weight: 800;
    color: var(--blanco);
    font-size: 49px;
}