.categoria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    overflow-x: hidden;
}

.listaVideos {
    display: flex;
    flex-direction: row;
    gap: 30px;
    overflow-x: auto;
    padding: 0 0 30px 0;
    margin: 40px 0 60px 0;
    width: 100%;
    justify-content:left;
    scrollbar-color: var(--color-categoria) var(--color-categoria);
    scrollbar-width: thin;
}

@media screen and (max-width: 480px) {
    .categoria {
        width: 100%;
    }
    
    /* .listaVideos {
        width: 80%;
    } */
}

.listaVideos::-webkit-scrollbar {
    height: 10px;
    background-color: var(--color-categoria);
    border-radius: 10px;
  }
  
.listaVideos::-webkit-scrollbar-thumb {
    background-color: var(--color-categoria);
    border-radius: 10px;
  }