.link {
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    padding: 1em;
    color: var(--blanco);
    border: 2px solid var(--blanco);
    border-radius: 10px;
    width: 180.12px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 0.25em;
    height: 50%;
    width: max-content;
}

.link:hover {
    scale: 1.05;
}

.linkSelected {
    color: var(--azul);
    border-color: var(--azul);
    box-shadow: inset 0px 0px 15px 0px rgba(34, 113, 209, 0.7);

}

.linkBlanco {
    color: var(--blanco);
    border-color: var(--blanco);
}

.icono {
    display: none;
}

.iconoBlanco {
    filter: invert(100%) brightness(100%) contrast(100%);
}

.iconoSelected {
    filter: invert(37%) sepia(82%) saturate(747%) hue-rotate(180deg) brightness(93%) contrast(96%);
}

@media screen and (max-width: 769px) {
    .link {
        font-size: 16px;
        height: 20px;
        padding: 0.5em;
        height: 75%;
        border-radius: 25px;
    }

    .icono {
        display: block;
        width: 20px;
        height: 20px;
    }

    .linkBlanco {
        border: none;
    }

    .textoBlanco {
        display: none;
    }
}