.capa {
    display: flex;
    align-items: center;
    width: 100%;
    height: 700px;
}

.capa::before {
    content: "";
    position: absolute;
    top: calc(var(--alto-header-normal) + 1px);
    left: 0; 
    width: 100%;
    height: 700px;
    background-position: center;
    background-size: cover;
    background-image: url("/img/Banner.png");
    filter: blur(5px) grayscale(35%);
    opacity: .84;
    z-index: -1; 
}

.gradient {
    height: 100%;
    width: 100%;
    opacity: .17;
    background-color: #6BD1FF;
}

.detalleVideo {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    width: 100%;
    height: 50%;
}

.descripcionVideo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--blanco);
    width: 50%;
    max-width: 1000px;
}

.descripcionVideo h1 {
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
}

.descripcionVideo p {
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .capa {
        height: 500px;
    }

    .capa::before {
        top: calc(var(--alto-header-mobile) + 1px);
        height: 500px;
    }    

    .descripcionVideo h1 {
        font-size: 2.5rem;
    }
    
    .descripcionVideo p {
        font-size: 1.5rem;
        max-width: 100%;
    }

    .categoriaVideo {
        display: none;
    }
}

@media screen and (max-width: 580px) {
    .capa {
        height: 350px;
    }

    .capa::before {
        height: 350px;
    }  

    .detalleVideo {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: center;
        height: 100%;
        
        padding: 10px;
        gap: 10px;
    }  
    
    .descripcionVideo {
        top: 0;
        width: 100%;
    }

    .descripcionVideo h1 {
        font-size: 1.75rem;
        max-width: 100%;
        margin: 0;
    }
    
    .descripcionVideo p {
        font-size: 1rem;
        max-width: 100%;
        max-height: 50px;
        overflow-y: hidden;
    }
    
    .categoriaVideo {
        display: none;
    }
}
